body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.header {
    background-color: #011e29;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.latest-news-section,
.main-article,
.pictorial-news-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.latest-news-section {
    width: 250px;
}

.main-article {
    width: 450px;
    text-align: center;
}

.pictorial-news-section {
    width: 250px;
    text-align: center;
}

.pictorial-news-section img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
}
